.page-title {
  display: flex;
  justify-content: center;

  margin: 3rem 0;

  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
}
