@import "@/styles/scss/_variables";
@import "@/styles/scss/_mixins";

.home-section {
  width: 100%;

  &__card-container {
    display: flex;
    margin: 12rem 0;

    @include respond(sm-phone) {
      flex-wrap: wrap;
      justify-content: center;
      margin: 8rem 0;
    }

    .cards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
}
