.favorites-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
  }

  p {
    color: white;
  }
}
