.submit-button {
  border-radius: 20px;
  background-color: purple;
  text-transform: uppercase;
  border: none;
  color: white;
  min-height: 4.5rem;
  height: 100%;
  max-width: 15rem;
  width: 50%;

  cursor: pointer;
}
