.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  min-height: 5rem;
  box-shadow: 3px 3px 10px #878787;

  .logo {
    width: 30%;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      min-width: 20rem;

      li {
        color: white;
        cursor: pointer;

        &:active,
        :hover {
          color: #fa8ecd;
        }
      }

      .active {
        color: #fa8ecd;
      }
    }
  }
}
