@import "@/styles/scss/mixins";
@import "@/styles/scss/variables";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  min-height: 5rem;
  box-shadow: 3px 3px 10px $card-box-shadow-color;

  @include respond(sm-phone) {
    justify-content: space-around;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: 3rem 2rem;

    @include respond(sm-phone) {
      margin: 1rem 2rem;
      align-items: unset;
    }

    .logo {
      width: 100%;
      color: $card-text;
      display: flex;
      align-items: center;
      margin: 0 1rem;
    }

    &__container {
      display: flex;
      justify-content: space-around;
      width: 100%;

      @include respond(sm-phone) {
        display: block;
        margin: 1rem 0;
      }

      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        min-width: 20rem;
        align-items: center;
        width: 100%;
        gap: 3rem;

        @include respond(sm-phone) {
          flex-direction: column;
          align-items: flex-start;
          margin: 1rem;
        }

        @include respond(sm-phone) {
          display: none;
        }

        li {
          color: $card-text;
          cursor: pointer;
          transition: all 0.4s ease-in-out;

          display: flex;
          justify-content: center;
          align-items: center;

          &:active,
          &:hover {
            color: #fa8ecd;
            transform: scale(1.2);
          }

          .shopping-cart-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;

            p {
              transform: translate(-50%, -50%);
            }

            &.animation {
              animation: bounce 1s ease-in-out;
            }

            @keyframes bounce {
              0%,
              50%,
              100% {
                transform: translateY(0);
              }
              40% {
                transform: translateY(-10px);
              }
              60% {
                transform: translateY(-10px);
              }
            }
          }
        }

        .active {
          color: #fa8ecd;
        }
      }
    }

    .menu-icon {
      display: none;
      font-size: 3rem;
      width: 3rem;
      height: 3rem;

      background: transparent;
      color: $card-text;
      border: none;

      @include respond(sm-phone) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
